In [ ]:
## This script will grab the current Atlanta Braves team stats from the Baseball Reference page, and pull into a dataframe

from bs4 import BeautifulSoup as Soup
import requests
import pandas as pd

braves = requests.get('https://www.baseball-reference.com/teams/ATL/2022.shtml')

In [ ]:
## Locating the main table and getting to row data 

braves_soup = Soup(braves.text)

tables = braves_soup.find_all('table')

rows = braves_soup.find_all('tr')

In [ ]:
## There's lots of rows, but only some with roster names. This establishes which rows we need

first_row = rows[20]
last_row = rows[63]

In [ ]:
## Define a function to parse through each row and convert to string data

def parse_row (row):

    return [str(x.string) for x in row.find_all('td')]

list_of_parsed_rows = [parse_row(row) for row in rows[20:63]]

In [88]:
## Adding function output to a dataframe

df = pd.DataFrame(list_of_parsed_rows)
df.sample(5)

,0,1,2,3,4,5,6,7,8,9,...,17,18,19,20,21,22,23,24,25,26
18,C,None,35,5,17,14,1,2,0,0,...,.235,.143,.378,8,2,0,1,0,1,0
3,SS,Dansby Swanson,28,94,394,360,60,106,20,1,...,.353,.481,.833,128,173,5,3,0,1,0
31,P,None,34,0,0,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
25,P,Collin McHugh,35,0,0,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
10,C,William Contreras,24,46,174,154,22,40,9,0,...,.345,.532,.877,139,82,1,0,0,0,0

In [ ]:
## Column headers are wrapped in header tags, so a new function is needed to grab those

def parse_row2 (row):

    return [str(x.string) for x in row.find_all('th')]

headers = parse_row2(rows[19])
headers_new = headers[1:]
headers_new

In [86]:
## Adding headers to dataframe

df.columns = headers_new
df.head()

,Pos,Name,Age,G,PA,AB,R,H,2B,3B,...,OBP,SLG,OPS,OPS+,TB,GDP,HBP,SH,SF,IBB
0,C,Travis d'Arnaud,33,63,258,241,36,63,15,0,...,.310,.461,.771,110,111,7,6,0,0,0
1,1B,None,28,94,415,365,44,93,34,0,...,.340,.488,.827,126,178,8,1,0,2,4
2,2B,None,25,62,263,242,34,59,15,0,...,.289,.405,.694,90,98,0,2,0,4,0
3,SS,Dansby Swanson,28,94,394,360,60,106,20,1,...,.353,.481,.833,128,173,5,3,0,1,0
4,3B,Austin Riley,25,92,400,362,55,103,22,1,...,.348,.575,.922,150,208,6,7,0,2,1

In [73]:
## Using our code, this defines a new function that lets you plug in a new team of choice

def get_team_data(team):

    get_new_team = requests.get(f'https://www.baseball-reference.com/teams/{team}/2022.shtml')
    
    team_soup = Soup(get_new_team.text)

    def parse_row2 (row):

        return [str(x.string) for x in row.find_all('td')]

    list_of_parsed_rows2 = [parse_row2(row) for row in rows[20:63]]

    df = pd.DataFrame(list_of_parsed_rows2)

    df.columns = headers_new
    df['team'] = team

    return df

In [79]:
new_team  = get_team_data('COL')
new_team.sample(5)

,Pos,Name,Age,G,PA,AB,R,H,2B,3B,...,SLG,OPS,OPS+,TB,GDP,HBP,SH,SF,IBB,team
34,P,Tyler Thornburg,33,0,0,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,COL
11,2B,Orlando Arcia,27,42,146,129,13,33,5,0,...,.388,.716,98,50,4,1,0,2,0,COL
20,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,COL
30,P,None,27,0,0,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,COL
33,P,Will Smith,32,0,0,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,COL